.todo-list-container {
  display: block;
  margin: auto;
  width: 150px;
}

.todo-list-item {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  border: 1px solid #cfcfcf40;
  margin: 4px 0;
  padding: 2px 2px;
  text-align: left;
}

.todo-item-remove {
  padding-right: 3px;
}

.todo-item {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
