body {
  background-color: #2a0944;
  color: #eeeeee;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.user-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.todo-user-container {
  display: flex;
  align-items: flex-start;
  width: 450px;
  margin: auto;
  justify-content: space-around;
}
